@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #3ddc84;
    --cor1: #e2f1ff;
    --cor2: #275996;
    --cor3: #0c2038;
    --cor4: #dadada;

    --fonte-padrao: 'Montserrat', Arial, Helvetica, sans-serif;
    --fonte-titulo: 'Bebas Neue', 'Montserrat', Arial, Helvetica, sans-serif;
}


body{
    font-family: var(--fonte-padrao);
    font-weight: 400;
    background-color: var(--cor4);
}


header{
    text-align: center;
    background-color: var(--cor3);
    min-height: 50px;
}


header > h1{
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 52px;
    color: var(--cor0);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.562);
    padding: 30px 5px 0px 5px;
}


header > p{
    color: var(--cor1);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.562);
    padding: 5px 5px 30px 5px;
    font-weight: 600;
    max-width: 500px;
    margin: auto;
}


nav{
    text-align: center;
    background-color: var(--cor2);
    padding: 10px 0px;
}


nav > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 15px;
    transition-duration: 0.3s;
}


nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor0);
    padding: 10px 15px;
}


main{
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.185);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


main h1{
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 42px;
    color: var(--cor3);
}


main h2{
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 36px;
    color: var(--cor3);
}


main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
}


main strong{
    color: var(--cor3);
    font-weight: bold;
}


main a{
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
}


main a span.material-icons{
    display: inline;
    vertical-align: -6px;
    padding-left: 2px;
}


main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}


main img{
    width: 100%;
}


main img.pequena{
    max-width: 300px;
    display: block;
    margin: auto;
}


div.video-youtube{
    background-color: rgb(240, 240, 240);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}


div.video-youtube > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


aside{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 15px;
}


aside > h3{
    background-color: lightgray;
    color: var(--cor3);
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 28px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin: -15px -15px 0px -15px;
}


aside > p{
    text-indent: 0px;
}


aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}


footer{
    background-color: var(--cor3);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}


footer > a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}


footer > a:hover{
    text-decoration: underline;
    color: #3ddc84;
}